{
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "rules": {
    "no-continue": ["off"],
    "no-bitwise": ["off"],
    "class-methods-use-this": ["off"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "indent": ["error", 2],
    "semi": ["error", "never"],
    "object-curly-newline": ["error", { "multiline": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["error", { "enforceInMethodNames": false, "allowAfterThis": true }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/newline-after-import": ["error", { "count": 2 }],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 0, "maxEOF": 1 }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "@typescript-eslint/explicit-member-accessibility": ["off"],
    "@typescript-eslint/indent": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/member-delimiter-style": ["off"],
    "@typescript-eslint/no-unused-vars": ["error"]
  }
}
