{{#>template}}
  <div class="adventures-controls">
    <form id="searchform">
      <div class="searchbox">
        <input id="searchbox-input" autofocus class="input searchbox-input" placeholder="Текст запроса" />
        <button id="submit-btn" class="button button-search searchbox-button">Найти</button>
      </div><!--
      --><div id="tagbox" class="tagbox">
        <div class="tagbox-list">
          <input id="tagbox-input" class="input tagbox-input" placeholder="Хештег" />
          <div style="display: none" id="tagbox-suggestions" class="tagbox-suggestions"></div>
        </div>
      </div>
    </form>
  </div>
  <div id="adventures" class="adventures"></div>
  <script id="alltags" type="application/json">{{{tags}}}</script>
  <script async src="/index.js"></script>
{{/template}}
