.logo, .button, .input, .tagbox-suggestions {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.adventure, .tag-title, .avatar-circle, .header-username, .scene-image, .achievement {
  font-family: 'Gabriela', Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  background: #fff;
}

.logo-right {
  color: #000;
} 

.logo-left {
  color: #C62828;
}

.logo-icon {
  padding: 1ch;
  background: no-repeat url('./static/logo_icon.svg') left center;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-size: 48px;
  margin-left: 50px;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #959393;
  display: flex;
  justify-content: space-between;
  height: 95px;
}

.main {
  word-break: break-word;
}

.adventures, .adventures-controls {
  margin: 0 auto;
  width: 800px;
  transition: opacity .3s;
}

.scene {
  margin: 0 auto;
  width: 950px;
}

.adventure-name, .adventure-desc, .tag-title, .header-username, .avatar-circle {
  font-size: 30px;
  color: #000;
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
  text-decoration: none;
}

.adventure-name {
  display: block;
}

.tag-title {
  font-size: 42px;
  margin: 30px 0;
}

.adventure-desc {
  font-size: 18px;
  margin-bottom: 15px;
}

.adventure {
  display: flex;
  margin-bottom: 50px;
  align-items: flex-start;
}

.adventure-img {
  height: 200px;
  min-width: 200px;
  background: #c62828;
}

.adventure-img-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 34px;
  flex: 0 0 200px;
  width: 200px;
  height: 152px;
  overflow: hidden;
}

.adventure-img:hover {
  opacity: .9;
}

.adventure-name:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: background .3s;
}

.button-tag, .button-search, .button-login, .button-btag {
  font-size: 18px;
  background: #b3b3b3;
  padding: 8px 15px;
  display: inline-block;
}

.button-tag {
  margin-right: 9px;
  margin-bottom: 9px;
}

.button-tag:hover {
  color: #b3b3b3;
  background: #eee;
}

.button-register {
  color: #b3b3b3;
  background: #eee;
  font-size: 18px;
  padding: 8px 15px;
  display: inline-block;
}

.button-register:hover {
  background: #b3b3b3;
  color: #fff;
}

.button-search {
  background: #C62828;
}

.button-search:hover {
  background: #eee;
  color: #C62828;
}

.button-login {
  background: #eee;
  color: #C62828;
}

.button-login:not(.disabled):hover {
  color: #eee;
  background: #C62828;
}

.button-btag-cross {
  cursor: pointer;
  margin-left: 1ch;
  font-size: 90%;
  user-select: none;
}

.button-btag {
  cursor: default;
  background: #2C9CDB;
  margin-right: 15px;
  margin-bottom: 15px;
}

.button-btag.hover {
  background: #eee;
  color: #2C9CDB;
}

.scene-image {
  position: relative;
  width: 950px;
  height: 380px;
  margin-top: 60px;
  margin-bottom: 35px;
}

.scene-image-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scene-image-text {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 22px;
  line-height: 36px;
  margin: 0;
  color: #fff;
  margin: 20px 12px;
  padding: 0px 8px;
  background: #000;
  white-space: pre;
}

.south {
  top: auto;
  bottom: 0;
}

.east {
  left: auto;
  right: 0;
}

.button-action {
  font-size: 34px;
  background: #555;
  padding: 20px 52px;
  margin-right: 52px;
  margin-bottom: 52px;
}

.button-action:hover {
  color: #555;
  background: #eee;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 1px;
  padding-left: 12px;
  color: #000;
}

.actions {
  display: flex;
  justify-content: center;
  padding-top: 37px;
  flex-wrap: wrap;
}

.achievement-title {
  font-size: 30px;
  margin: 0;
}

.achievement-description {
  font-size: 48px;
  margin: 0;
}

.achievement-img {
  border-radius: 50%;
  width: 147px;
  height: 147px;
  flex: 0 0 147px;
  background: #C62828;
  margin-right: 21px;
  object-fit: cover;
}

.achievement {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.achievement:not(:last-child):not(:nth-last-child(2)) {
  margin-bottom: 20px;
}

.achievement:nth-child(1n):last-child {
  flex: 1 1 auto;
}

.achievements {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.searchbox {
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
}

.searchbox-button {
  flex: 0 0 auto;
}

.searchbox-input {
  margin-right: 15px;
  height: 34px;
}

.tagbox {
  margin-bottom: 15px;
  min-height: 55px;
}

.tagbox-input {
  height: 34px;
  width: 300px;
}

.tagbox-list {
  position: relative;
  float: right;
}

.tagbox-suggestions {
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  position: absolute;
  box-sizing: border-box;
  border-top: 0;
  border-bottom: 0;
}

.tagbox-suggestion {
  padding: 1px;
  padding-left: 12px;
  min-height: 34px;
  line-height: 34px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #fff;
}

.tagbox-suggestion.hover {
  background: #faa;
}

.tagbox-suggestion:last-child {
  border-bottom: 1px solid #ccc;
}

.header-buttons {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-buttons > .button-login {
  margin: 0 15px;
}

.header-username {
  margin: 0 15px;
  font-size: 32px;
}

.avatar {
  position: relative;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
}

.avatar-circle {
  background: #fff;
  font-size: 20px;
  border-radius: 15px;
  position: absolute;
  right: -8px;
  top: -4px;
  margin: 0;
  min-width: 18px;
  height: 28px;
  padding: 0 5px;
  text-align: center;
}

.login-form-input {
  width: 300px;
  height: 34px;
}

.login-form-field {
  margin: 20px 0;
}

.disabled {
  cursor: wait;
  opacity: 0.5;
}

.adventure-avatars {
  display: flex;
}

.adventure-avatars > .avatar {
  margin-right: 15px;
  margin-bottom: 15px;
}
